<h1><%= @user.username %>'s Profile</h1>

First Name: <%= @user.first_name %><br>
Last Name: <%= @user.last_name %><br>
Bio: <%= @user.bio %><br>
Email: <%= @user.email %><br>

<h2><%= @user.first_name %>'s Goals:</h2>
<ul><% @user.goals.each do |goal| %>
<li><%= link_to goal.title, goal_path(goal)%></li>
<% end %>
</ul>
